.title-container {
  display: inline;
  color: #17a2b8;
  font-size: 1.5rem;
}
.event-actions {
  float: right;
}
.user-event-list{
  margin: 3% 0;
}
.attend-action-btn {
  display: inline-block;
}
.unattend-action-btn {
  float: right;
}
